{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link type="image/png" sizes="32x32" rel="icon" href="/assets/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .dark-bg {
            background-color: #1a1a1a;
        }
        .light-bg {
            background-color: #f5f5f5;
        }
        .category-link {
            transition: background-color 0.3s;
        }
        .category-link:hover {
            background-color: #2d3748;
        }
    </style>
</head>
<body>

{{template "navMain"}}

{{template "navSec"}}




<footer class="bg-gray-800 text-white p-4 mt-auto">

    {{template "footer"}}

</footer>

</body>

</html>
{{end}}